In [61]:
import sys
from sklearn.metrics import roc_auc_score, log_loss
from sklearn.model_selection import train_test_split
import pandas as pd
import xgboost as xgb

sys.path.append("C:\\Users\\brady\\Documents\\FootballBetting\\FootballBetting\\processing")

from get_season_stats import GetTeamStats, get_multi_seasons


season_dir='C:\\Users\\brady\\Documents\\FootballBetting\\FootballBetting\\data\\results'
eos_stats_path='C:\\Users\\brady\\Documents\\FootballBetting\\FootballBetting\\data\\eos_stats\\SeasonSummaries.csv'

In [75]:
data = get_multi_seasons(1617, 6, season_dir, eos_stats_path)

In [63]:
data

,Date,HomeTeam,AwayTeam,HomeWin,AwayWin,Draw,Ht_Position,Ht_Points,Ht_Win,Ht_Draw,...,At_Conceded_A,At_Shots_For_A,At_Shots_Ag_A,At_Shots_Tg_For_A,At_Shots_Tg_Ag_A,At_Fouls_For_A,At_Fouls_Ag_A,At_Bk_Pts_A,At_Promoted,At_Relegated
0,2016-05-08,Fulham,Newcastle,1,0,0,19,51.0,12.0,15.0,...,41.0,170.0,298.0,61.0,96.0,212.0,184.0,285.0,0,1
1,2017-03-18,Birmingham,Newcastle,0,0,1,10,63.0,16.0,15.0,...,41.0,170.0,298.0,61.0,96.0,212.0,184.0,285.0,0,1
2,2017-02-01,Blackburn,Newcastle,1,0,0,15,55.0,13.0,16.0,...,41.0,170.0,298.0,61.0,96.0,212.0,184.0,285.0,0,1
3,2016-08-20,Bristol City,Newcastle,0,1,0,17,52.0,13.0,13.0,...,41.0,170.0,298.0,61.0,96.0,212.0,184.0,285.0,0,1
4,2016-10-09,Derby,Newcastle,0,1,0,5,78.0,21.0,15.0,...,41.0,170.0,298.0,61.0,96.0,212.0,184.0,285.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,2012-07-04,Millwall,Hull,1,0,0,9,67.0,18.0,13.0,...,32.0,177.0,310.0,100.0,140.0,242.0,227.0,435.0,0,0
548,2012-03-27,Portsmouth,Hull,1,0,0,16,58.0,15.0,13.0,...,32.0,177.0,310.0,100.0,140.0,242.0,227.0,435.0,0,0
549,2012-04-14,Watford,Hull,0,0,1,14,61.0,16.0,13.0,...,32.0,177.0,310.0,100.0,140.0,242.0,227.0,435.0,0,0
550,2012-02-03,Blackpool,Hull,0,0,1,18,39.0,10.0,9.0,...,32.0,177.0,310.0,100.0,140.0,242.0,227.0,435.0,0,0
551,2012-03-13,Cardiff,Hull,0,1,0,3,80.0,23.0,11.0,...,32.0,177.0,310.0,100.0,140.0,242.0,227.0,435.0,0,0

In [64]:
data.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'HomeWin', 'AwayWin', 'Draw',
       'Ht_Position', 'Ht_Points', 'Ht_Win', 'Ht_Draw', 'Ht_Loss', 'Ht_Scored',
       'Ht_Conceded', 'Ht_Shots_For', 'Ht_Shots_Ag', 'Ht_Shots_Tg_For',
       'Ht_Shots_Tg_Ag', 'Ht_Fouls_For', 'Ht_Fouls_Ag', 'Ht_Bk_Pts',
       'Ht_Win_H', 'Ht_Draw_H', 'Ht_Loss_H', 'Ht_Scored_H', 'Ht_Conceded_H',
       'Ht_Shots_For_H', 'Ht_Shots_Ag_H', 'Ht_Shots_Tg_For_H',
       'Ht_Shots_Tg_Ag_H', 'Ht_Fouls_For_H', 'Ht_Fouls_Ag_H', 'Ht_Bk_Pts_H',
       'Ht_Promoted', 'Ht_Relegated', 'At_Position', 'At_Points', 'At_Win',
       'At_Draw', 'At_Loss', 'At_Scored', 'At_Conceded', 'At_Shots_For',
       'At_Shots_Ag', 'At_Shots_Tg_For', 'At_Shots_Tg_Ag', 'At_Fouls_For',
       'At_Fouls_Ag', 'At_Bk_Pts', 'At_Win_A', 'At_Draw_A', 'At_Loss_A',
       'At_Scored_A', 'At_Conceded_A', 'At_Shots_For_A', 'At_Shots_Ag_A',
       'At_Shots_Tg_For_A', 'At_Shots_Tg_Ag_A', 'At_Fouls_For_A',
       'At_Fouls_Ag_A', 'At_Bk_Pts_A', 'At_Promoted', 'At_Relegated'],
      dtype='object')

In [65]:
import lightgbm

y = data.loc[:,"HomeWin":"Draw"]

In [76]:
X = data.loc[:,"Ht_Position":]

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=32)

In [77]:
from lightgbm import LGBMClassifier

gbm = LGBMClassifier()
gbm.fit(X_train, y_train)

ValueError: DataFrame.dtypes for data must be int, float or bool.
Did not expect the data types in the following fields: Ht_Promoted, Ht_Relegated, At_Promoted, At_Relegated

In [78]:
data['result'] = data['AwayWin'] + 2 * data['Draw']

In [70]:
data[['HomeWin', 'AwayWin', 'Draw', 'result']]

     HomeWin  AwayWin  Draw  result
0          1        0     0       0
1          0        0     1       2
2          1        0     0       0
3          0        1     0       1
4          0        1     0       1
..       ...      ...   ...     ...
547        1        0     0       0
548        1        0     0       0
549        0        0     1       2
550        0        0     1       2
551        0        1     0       1

[3312 rows x 4 columns]

In [73]:
y = data['AwayWin'] + data['Draw'] * 2

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=32)
gbm = LGBMClassifier()
gbm.fit(X_train, y_train)

LGBMClassifier()

In [80]:
raw_pred = gbm.predict_proba(X_test)

In [81]:
from sklearn.calibration import CalibratedClassifierCV

lr = CalibratedClassifierCV(method="sigmoid")
lr.fit(gbm.predict_proba(X_train), y_train)
y_pred = lr.predict_proba(raw_pred)

In [ ]:
y_pred

In [87]:
log_loss(y_test, raw_pred)

1.3160126885669274

In [ ]:
raw_pred

In [ ]:
y_test

In [83]:
data[['HomeWin','AwayWin','Draw']].mean()

HomeWin    0.430857
AwayWin    0.294384
Draw       0.274758
dtype: float64

In [ ]:
import numpy as np
y_base = np.array([0.43, 0.29] * 493)

In [84]:
y_base = np.full((y_test.shape[0],3), [0.43,0.29, 0.28])

In [85]:
y_base

array([[0.43, 0.29, 0.28],
       [0.43, 0.29, 0.28],
       [0.43, 0.29, 0.28],
       ...,
       [0.43, 0.29, 0.28],
       [0.43, 0.29, 0.28],
       [0.43, 0.29, 0.28]])

In [86]:
log_loss(y_test, y_base)

1.0841733318140254

In [88]:
from sklearn.metrics import brier_score_loss

In [89]:
brier_score_loss(y_test, raw_pred)

ValueError: y should be a 1d array, got an array of shape (994, 3) instead.